html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  color: #000;
   background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p
{ padding: 0 0 10px 0;
  color: #FFF;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}

a
{ color: #FFF;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #content_bottom
{ margin-left: auto; 
  margin-right: auto;}

#main
{
  position:absolute; 
  top:0px;
  left:100px;
  background: transparent;
}
  
#header
{ width: 1500px;
  height: 120px;
  background: transparent;}

#banner
{ width: 1500px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}

#menubar
{ width: 1520px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  } 
  
#welcome
{ width: 1500px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 1500px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H1
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;}

#welcome_slogan H1
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  color: #FFF;
  text-shadow: 1px 1px #1D1D1D;}  
  
ul#menu
{ margin:0;
  margin: 0 0 0 20px;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  height: 24px;
  text-shadow: 0px -1px 0px #000;
  padding: 16px 20px 10px 20px;
  background: transparent; } 
  
ul#menu li.current a
{ 
  color:#000000;
  background: #F3F781;
  text-shadow: none;}
  
ul#menu li:hover a
{ color: #FFF;
  background: #323232;
  text-shadow: none;}

#site_content
{ width: 1500px;
  padding-left: 20px;
  overflow: hidden;
  margin: 0 auto;
  background: #F3F781;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;} 


#footer
{ width: 960px;
  height: 20px;
  margin-top: 1000px;
  text-align: center; 
  background: transparent;
  color: #1D1D1D;
  text-shadow: 1px 1px #FFF;}

#footer a, #footer a:hover
{ color: #1D1D1D;
  text-decoration: none;
  padding-bottom: 20px;}

#footer a:hover
{ text-decoration: underline;}
  
  /****/

#SIM{
	width:50px;
	height:50px;

	background:url("../images/로봇아래2.jpg") no-repeat;
	position:absolute;
	top:185px;
	left:145px;
}

input[type = number]{
	width:2em;
}

#formBoard {
	width: 100px;
	background-color: rgb(110,138,195);
	padding: 20px 20px 0 20px;
	position: absolute;
	top:50px;
	left: -112px;
	z-index: 100;
	color:white;
}

input.hazard, input.colorblob{
	width:3em;
}



.hazardObject{
	position:absolute;
	background:url("../images/hazard.jpg");
	width:50px;
	height:50px;
}

.colorBlobObject{
	position:absolute;
	background:url("../images/ColorBlob.jpg");
	width:50px;
	height:50px;
}

.hazardInsert, .colorBlobInsert{
	cursor:pointer;
}